@media all and (max-width: 1100px) {
  .employee-view.editing .toolbar,
  .employee-view.editing .employee-grid {
    display: none;
  }
}
a[highlight] {
    font-weight: bold;
    text-decoration: underline;
}
