@media all and (max-width: 1100px) {
  .employee-view.editing .toolbar,
  .employee-view.editing .employee-grid {
    display: none;
  }
}
a[highlight] {
    font-weight: bold;
    text-decoration: underline;
}

.employee-card {
    border: 1px solid var(--lumo-contrast-10pct);
    border-radius: var(--lumo-border-radius-m);
    background-color: var(--lumo-base-color);
    box-shadow: var(--lumo-box-shadow-s);
}

.employee-name {
    color: var(--lumo-primary-text-color);
    margin-top: 0;
    margin-bottom: var(--lumo-space-l);
}

.info-label {
    font-weight: 600;
    color: var(--lumo-secondary-text-color);
}

.info-value {
    color: var(--lumo-body-text-color);
    flex-grow: 1;
}

.employee-details-card {
    width: 100%;
    max-width: 400px;
    background-color: var(--lumo-base-color);
    border-radius: var(--lumo-border-radius-l);
    box-shadow: var(--lumo-box-shadow-m);
    overflow: hidden;
}

.employee-avatar {
    background-color: var(--lumo-primary-color);
    color: var(--lumo-primary-contrast-color);
    font-weight: bold;
    width: 64px;
    height: 64px;
    font-size: var(--lumo-font-size-xl);
}

.employee-full-name {
    color: var(--lumo-primary-text-color);
    margin: 0;
    text-align: center;
}

.employee-corporate-key {
    font-size: var(--lumo-font-size-s);
    color: var(--lumo-secondary-text-color);
    font-weight: 500;
}

.employee-additional-info {
    font-style: italic;
    text-align: center;
    padding: var(--lumo-space-s) 0;
}

/* Estilos para los elementos dentro de la card */
.employee-details-card vaadin-horizontal-layout {
    width: 100%;
}

.employee-details-card vaadin-icon {
    color: var(--lumo-primary-color);
    width: var(--lumo-icon-size-s);
    height: var(--lumo-icon-size-s);
}
